body {
    margin: 0px ;
    padding: 0px;
}
.wrapper{
    height: 100%;
    width: 100%;
}

.block{
    background-color: blue;
}

.conteiner{
    height: 90%;
    width: 90%; 
}

.row__content{
    display: flex;
    justify-content: center;  
}


.text__content{
    /* display: flex;
    align-items: center;
    justify-content: right; */
    color: #fff;
}

.title{
    font-size: 30px;
}

ul{
    padding: 0;
}

li {
    list-style-type: none;
    background-image: url('../../Source/2.png') 10px 10px no-repeat;
   }



.logo{
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 0 0 30%;
    
}

img{
    height: 90%;
}