*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100%;
    width: 100%;
    background-color: blueviolet;
}
.header{
    display:grid; 
    justify-items: auto;
    grid-template-columns: 1fr;
}

.logo{
    background-color: #5e5373;
    border: 1px dashed #ece89d;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    grid-template-columns: 0.5fr;
}

.menu {
    grid-template-columns: 0.5fr;
    background-color: #5e5373;
    border: 1px dashed #ece89d;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}


    
  

