.grid{
    background-color: greenyellow;
    display:grid;
    grid-template: 1fr / repeat(6,100px);
    grid-auto-columns: 50px;
    grid-auto-flow:column;
    }



    .grid__item{
        background-color: #5e5373;
        border: 1px solid #ece89d;
        padding: 30px;
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        }
    
    
  

