.listItem {
    text-decoration: none;
    color: black;
}

.listItem:hover {
    color: #ADD8E6
}

.activeLink {
    color: #ADD8E6;
    text-decoration: none;
}

.homeStyle {
    background: greenyellow;
}