/*classes for todolist*/
.App {
    /*text-align: center;*/
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}

button {
    margin-left: 5px;
    cursor: pointer;
}
__________________________________________________________
.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.disabled-inc {
    background-color: aquamarine;
    opacity: 0.5;
}


.disabled-reset {
    background-color: aquamarine;
    opacity: 0.5;
}


.error-color {
    color: red;
}
