.counter-root {
    display: flex;
    height: 100vh;
    background-color: #2F4F4F;
    align-items: center;
}

/*Settings*/
.counter-settings {
    flex: 1;
    display: flex;
    height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 50px 0 50px;
}

.counter-settings {
    border: 3px solid #00FFFF;
    border-radius: 10px;
}

.settings-container {
    display: flex;
    flex-direction: column;
    border: 3px solid #00FFFF;
    border-radius: 10px;
    padding: 6% 12%;
}

.setting-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.setting-label {
    flex: 1;
    margin-right: 150px;
    font-size: 22px;
    color: #00FFFF;
    font-weight: bold;
}

.setting-input {
    outline: none;
    padding: 5px;
    border: 3px solid #00FFFF;
    border-radius: 5px;
}

.setting-button {
    border: 3px solid #00FFFF;
    border-radius: 10px;
    margin-top: 25px ;
    padding: 4% 32%;
}

.input-center {
    text-align: center;
    font-weight: bold;
}

/*Counter*/
.counter-counter {
    flex: 1;
    display: flex;
    height: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #00FFFF;
    border-radius: 10px;
    margin: 0 50px 0 50px;
}

.counter-display {
    display: flex;
    width: 525px;
    border: 3px solid #00FFFF;
    border-radius: 10px;
    padding: 70px 30px;
    font-size: 35px;
    color: #00FFFF;
    font-weight: bold;
}

.counter-display-window {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px  200px 0px 180px;
    color: #00FFFF;
    white-space: nowrap;
}

.counter-buttons {
    display: flex;
    margin-top: 4%;
    padding: 5% 14%;
    border: 3px solid #00FFFF;
    border-radius: 15px;
}

.button {
    padding: 5px 25px;
    margin: 0 50px;
    color: black;
    border: 1px solid #2F4F4F;
    border-radius: 5px;
    font-size: 30px;
    font-weight: bold;
    background-color: #00FFFF;
    cursor: pointer;
}

.errorInput {
    background-color: pink;
    border: 3px solid red;
}

.errorMessage {
    color: #f44336;
    white-space: nowrap;
}

.resultColor {
    color: #f44336;
}

.disabled {
    color: grey;
}

.disabled-reset {
    opacity: 0.5;
}

.countColor {
    color: #f44336;
}