

body{
    background-color: darkslategray;
    display: flex;
    align-items: center;
    justify-content: center;
    height:800px;
}
.app_wrapper{
    display: flex;
    gap: 50px;
}
.App {
    width: 300px;
    height: 300px;
    background-color: darkslategray;
    border-radius: 20px;
    border:aqua 2px solid;
    padding: 30px;
}
.display_wrapper{
    width: 100%;
    height: 200px;
    background-color: aqua;
    color: darkslategray;
    font-size: 120px;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 20px;
    padding: 20px;
}
.display_wrapper .start,
.display_wrapper .max{
    font-size: 20px;
    font-weight: bold;
}

.btn_wrapper{
    display: flex;
    justify-content:space-between;
}
.btn_wrapper_one{
    display: flex;
    justify-content: center;
}
.disabled{
    color: grey;
    background-color: lightblue;

}
.red{
    background-color: hotpink;
}


