
.displayWrapper{
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    background-color: aqua;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.count_wrapper{
    color: darkslategray;
    font-size: 120px;
}

.red_count{
    color: red;
    font-size: 120px;

}
.errorMessage{
    color:red;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;


}
.good{
    color:wheat;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}